@function black($opacity) {
  @return rgba(black, $opacity)
};

@function  white($opacity) {
  @return rgba(white, $opacity)
};

.container-fluid{
  padding: 0;
}

.jumbotron {
  background: white(0.8);
  margin: 0;
}

.content {
  background-color: #fff;
  color: black;
  text-decoration: none;
  border-top: #000000;
  padding: 30px;
}

.offcontent {
  @extend .content;
  background-color: white(0.8);
  .thumbnail{
    border: black(0.95);
    background: transparent;
    padding: 10px;
    margin: 4px;
  }

  .img-circle{
    border-radius: 50% !important;
    border:5px solid black(0.2) !important;
    // max-height: 175px !important;
    // max-width: 175px;
    overflow: hidden !important;
  }

  p{
    color:#9494b8;
  }
}

.navbar {
  background: black(0.9);
}

.footer {
  background: black(0.9);
}

#mainBg{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
  padding: 0;
}
