<dhead class="text-center">
  <h1>About Us</h1>
  <p>We are community of dancers, models, artists, Programmers, Athletes,  Youtubers, and everything in between who are interested in Asia. This is a Social Network  for those interested in going to Japan and others countries in Asia to network and make life-long friends. Join us, and you too can be part of a vibrant family full of successful people who are making waves in Asia.</p>
</head>
