<div class="jumbotron">
  <h1>OTAKUNOT</h1>
  <p class="lead">
    Otakunot is a curated Social Network for those who Dream Asia, Come and explore what we have to offer! Bridging the gap from your world to Asia, community driven solutions to expat problems, come join us and unlock your life potential.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Join Us!<span class="glyphicon "></span></a></p>
</div>

<div class="row marketing">

</div>
